@use "base/reset";
@use "base/typography";
@use "utils/colors";

.card {
  display: flex;
  flex-direction: column;
  &__col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3.75rem;
    padding-top: 1.625rem;
    padding-bottom: 2.625rem;
    background: linear-gradient(
      180deg,
      colors.$light-slate-blue,
      colors.$light-royal-blue 100%
    );
    border-radius: 0rem 0rem 2rem 2rem;
    &__title {
      color: colors.$light-lavender;
      margin-bottom: 1.6875rem;
    }
    &__score {
      width: 138px;
      height: 138px;
      background: colors.$gradient-bg;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 1.8125rem;
      &__highlight {
        font-family: "Hanken Grotesk";
        color: colors.$white;
        font-size: 2.8125rem;
        font-weight: 800;
        line-height: 1.5;
      }
      &__text {
        color: colors.$light-lavender;
      }
    }
    &__h1 {
      color: colors.$white;
      padding-bottom: 0.9375rem;
    }
    &__p {
      color: colors.$light-lavender;
      text-align: center;
      text-wrap: balance;
    }
  }
  &__col-2 {
    padding: 1.875rem;
    &__summary {
      margin-bottom: 1.625rem;
    }
    &__status {
      display: flex;
      padding: 1rem;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
      border-radius: 0.75rem;
      &--reaction {
        background-color: colors.$light-red-bg;
        .card__col-2__status__name {
          color: colors.$light-red;
        }
      }
      &--memory {
        background-color: colors.$orangey-yellow-bg;
        .card__col-2__status__name {
          color: colors.$orangey-yellow;
        }
      }
      &--verbal {
        background-color: colors.$green-teal-bg;
        .card__col-2__status__name {
          color: colors.$green-teal;
        }
      }
      &--visual {
        background-color: colors.$cobalt-blue-bg;
        .card__col-2__status__name {
          color: colors.$cobalt-blue;
        }
      }

      &__col-1 {
        display: flex;
        gap: 0.9375rem;
      }
      &__col-2 {
        color: colors.$dark-gray-blue-alpha;
        font-weight: 700;
      }
      &__highlight {
        color: colors.$dark-gray-blue;
        font-weight: 800;
      }
    }
    &__btn {
      margin-top: 0.625rem;
      width: 100%;
      border: none;
      padding: 1.1875rem;
      border-radius: 2rem;
      background: colors.$button-bg;
      color: colors.$white;
      &:hover {
        background: colors.$gradient-bg;
      }
    }
  }
}
