@use "utils/colors";
@use "base/reset";
@use "base/typography";

.card {
  display: flex;
  flex-direction: column;
  &__col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3.75rem;
    padding-top: 1.625rem;
    padding-bottom: 2.625rem;
    background: colors.$gradient-bg;
    border-radius: 0rem 0rem 2rem 2rem;
    &__title {
      color: colors.$light-lavender;
      margin-bottom: 1.6875rem;
    }
    &__score {
      width: 138px;
      height: 138px;
      background: colors.$gradient-bg-2;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 1.8125rem;
      &__highlight {
        font-family: "Hanken Grotesk";
        color: colors.$white;
        font-size: 2.8125rem;
        font-weight: 800;
        line-height: 1.5;
      }
      &__text {
        color: colors.$light-lavender;
      }
    }
    &__h1 {
      color: colors.$white;
      margin-bottom: 0.9375rem;
    }
    &__p {
      color: colors.$light-lavender;
      text-align: center;
      text-wrap: balance;
    }
  }
  &__col-2 {
    padding: 1.875rem;
    &__summary {
      margin-bottom: 1.625rem;
      color: colors.$dark-gray-blue;
    }
    &__status {
      display: flex;
      padding: 1rem;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
      border-radius: 0.75rem;
      &--reaction {
        background-color: colors.$light-red-bg;
        .card__col-2__status__name {
          color: colors.$light-red;
        }
      }
      &--memory {
        background-color: colors.$orangey-yellow-bg;
        .card__col-2__status__name {
          color: colors.$orangey-yellow;
        }
      }
      &--verbal {
        background-color: colors.$green-teal-bg;
        .card__col-2__status__name {
          color: colors.$green-teal;
        }
      }
      &--visual {
        background-color: colors.$cobalt-blue-bg;
        .card__col-2__status__name {
          color: colors.$cobalt-blue;
        }
      }

      &__col-1 {
        display: flex;
        gap: 0.9375rem;
      }
      &__col-2 {
        color: colors.$dark-gray-blue-alpha;
        font-weight: 700;
      }
      &__name {
        font-weight: 600;
      }
      &__highlight {
        color: colors.$dark-gray-blue;
        font-weight: 800;
      }
    }
    &__btn {
      margin-top: 0.625rem;
      width: 100%;
      border: none;
      padding: 1rem;
      border-radius: 2rem;
      background: colors.$button-bg;
      color: colors.$white;
      &:hover {
        background: colors.$gradient-bg;
      }
    }
  }
}

@media only screen and (min-width: 48rem) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 2rem;
  }
  .card {
    flex-direction: row;
    max-width: 46rem;
    max-height: 32rem;
    border-radius: 2rem;
    box-shadow: -8.7px 14px 15px 0px colors.$dark-gray-blue-alpha;
    &__col-1 {
      border-radius: 2rem;
      max-width: 23rem;
      &__title {
        margin-bottom: 2.25rem;
      }
      &__score {
        width: 12.375rem;
        height: 12.375rem;
        margin-bottom: 2.25rem;
        &__highlight {
          font-size: 4rem;
          line-height: 1.2;
        }
      }
      &__h1 {
        margin-bottom: 1.4375rem;
      }
      &__p {
        text-wrap: unset;
      }
    }
    &__col-2 {
      padding: 2.5rem;
      &__summary {
        margin-bottom: 2.0625rem;
      }
      &__status {
        width: 18rem;
      }
    }
  }
}
