@use "base/reset";
@use "base/typography";
@use "utils/colors";

.card {
  display: flex;
  flex-direction: column;
  &__col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3.75rem;
    padding-top: 1.625rem;
    padding-bottom: 2.625rem;
    background: linear-gradient(
      180deg,
      colors.$light-slate-blue,
      colors.$light-royal-blue 100%
    );
    border-radius: 0rem 0rem 2rem 2rem;
    &__title {
      color: colors.$light-lavender;
      margin-bottom: 1.6875rem;
    }
    &__score {
      width: 138px;
      height: 138px;
      background: linear-gradient(
        0deg,
        colors.$persian-blue,
        colors.$violet-blue-circle
      );
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 1.8125rem;
      &__highlight {
        font-family: "Hanken Grotesk";
        color: colors.$white;
        font-size: 2.8125rem;
        font-weight: 800;
        line-height: 1.5;
      }
      &__text {
        color: colors.$light-lavender;
      }
    }
    &__h1 {
      color: colors.$white;
      padding-bottom: 0.9375rem;
    }
    &__p {
      color: colors.$light-lavender;
    }
  }
}
