*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

img {
  display: block;
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
p {
  line-height: 1.5;
}

body {
  height: 100svh;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__image {
  width: 100%;
  display: block;
}
.card__image img {
  width: 100%;
}
.card__icon {
  margin-bottom: 2.5rem;
}
.card__body {
  padding: 2.5rem 1.5rem;
}
.card__body__title {
  max-width: 84%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: hsl(234, 29%, 20%);
}
.card__body__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: hsl(235, 18%, 26%);
}
.card__body__text--email {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  color: hsl(235, 18%, 26%);
}
.card__body__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2.375rem;
}
.card__body__list__item {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  align-items: start;
  color: hsl(234, 29%, 20%);
  display: flex;
  gap: 1rem;
}
.card__body__email__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}
.card__body__email__label {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
  display: block;
}
.card__body__email__error {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
  color: hsl(4, 100%, 67%);
  display: none;
}
.card__body__email__input {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: hsl(234, 29%, 20%);
  width: 100%;
  border: 1px solid hsla(231, 7%, 60%, 0.5);
  border-radius: 0.5rem;
  padding: 1.25rem 1.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.card__body__email__input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
.card__body__email__input:hover {
  border-color: hsl(231, 7%, 60%);
  transition: all 0.3s ease;
}
.card__body__email__input:invalid {
  border: 1px solid hsl(4, 100%, 67%);
  background-color: hsla(4, 100%, 67%, 0.2);
  color: hsl(4, 100%, 67%);
}
.card__body__btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  width: 100%;
  padding: 1.5rem;
  border: none;
  color: hsl(0, 0%, 100%);
  background: hsl(234, 29%, 20%);
  border-radius: 0.5em;
  cursor: pointer;
  transition: all 0.4s;
}
.card__body__btn:hover {
  background: linear-gradient(to right, hsl(347, 99%, 66%), hsl(23, 100%, 64%));
  transition: all 0.4s;
}
.card--success .card__body__text {
  margin-bottom: 16.875rem;
}

.hide {
  display: none;
}

@media only screen and (min-width: 600px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(235, 18%, 26%);
  }
  .container {
    display: flex;
    flex-direction: row-reverse;
  }
  .card {
    max-width: 58rem;
    max-height: 40.063rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
    background-color: hsl(0, 0%, 100%);
  }
  .card__image {
    width: 53.12%;
  }
  .card__body {
    margin: auto;
    padding-left: 2.5rem;
    padding-right: 3.75rem;
  }
  .card__body__title {
    font-size: 3.438rem;
    max-width: 100%;
  }
  .card__body__btn {
    padding: 1.25rem;
  }
  .card--success {
    max-width: 31.5rem;
    max-height: 32.5rem;
  }
  .card--success .card__body {
    padding: 2.5rem;
  }
  .card--success .card__body__text {
    margin-bottom: 2.688rem;
  }
}
