*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

@font-face {
  font-family: "Work Sans";
  src: url("../../assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 700;
}
h1 {
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 1.7813rem;
}

h3 {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 1rem;
}

p {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5;
}

@media only screen and (min-width: 48rem) {
  h1 {
    font-size: 3.125rem;
  }
  h3 {
    font-size: 1.125rem;
  }
  p {
    font-size: 1rem;
  }
}
body {
  background-color: hsl(275, 100%, 97%);
  background-image: url("../assets/images/background-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 20.4375rem;
  margin: 8.9375rem 1.5rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
  padding: 0 1.5rem;
  transition: 0.4s all;
}
.card__header {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1.6875rem;
}
.card__header img {
  width: 1.375rem;
  height: 1.375rem;
}
.card__faq {
  margin-top: 1.625rem;
  padding-bottom: 1.375rem;
  border-bottom: 2px solid hsl(275, 100%, 97%);
  transition: 1s all;
}
.card__faq--last {
  border-bottom: none;
}
.card__question {
  text-wrap: balance;
  transition: 0.4s all;
}
.card__question:hover {
  color: hsl(281, 83%, 54%);
  cursor: pointer;
}
.card__question-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__question-container button {
  background: none;
  border: none;
}
.card__answer {
  margin-top: 1.625rem;
  transition: 0.4s all;
  animation: expand 0.4s forwards;
}
.card__answer p {
  width: 94%;
  color: hsl(292, 16%, 49%);
}
.card__answer--hidden {
  transition: 0.4s all;
  display: none;
}

@keyframes expand {
  0% {
    margin-top: -6rem;
  }
  100% {
    margin-top: 1.625rem;
  }
}
@media only screen and (min-width: 48rem) {
  body {
    background-image: url("../assets/images/background-pattern-desktop.svg");
  }
  .card {
    margin-top: 10.375rem;
    max-width: 37.5rem;
    border-radius: 1rem;
    padding: 0 2.5625rem;
    padding-bottom: 1rem;
  }
  .card__header {
    margin-bottom: 1rem;
  }
  .card__header img {
    width: 2.25rem;
    height: 2.25rem;
  }
  .card__faq {
    margin-top: 0;
    padding: 1.6875rem 0;
    width: 32.25rem;
  }
  .card__answer {
    margin-top: 2rem;
  }
  .card__answer p {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */