*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

img {
  display: block;
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/bg-pattern-top-mobile.svg"), url("../images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: unset, contain;
  background-position: top left, bottom right;
}

.container {
  margin: 4.75rem 1.5rem;
}

.header {
  text-align: center;
  margin-bottom: 2.938rem;
}
.header__title {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 0.85;
  color: hsl(300, 43%, 22%);
  letter-spacing: -1px;
  margin-bottom: 1.5rem;
}
.header__text {
  margin: 0 calc(0.625rem + 3vw);
  font-family: "League Spartan", sans-serif;
  font-size: 0.938rem;
  font-weight: 500;
  color: hsl(303, 10%, 53%);
  line-height: 1.2;
  text-wrap: wrap;
}

.rating-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3.125rem;
}
.rating-group .rating {
  text-align: center;
  padding: 0.875rem;
  background-color: hsl(300, 24%, 96%);
  border-radius: 0.5rem;
}
.rating-group .rating__star-group {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 0.875rem;
}
.rating-group .rating__text {
  font-family: "League Spartan", sans-serif;
  font-size: 0.938rem;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
  padding-bottom: 0.188rem;
}

.card-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card-group .card {
  padding: 2.188rem 2rem;
  background-color: hsl(300, 43%, 22%);
  border-radius: 0.5rem;
}
.card-group .card__profile {
  display: flex;
  align-items: center;
  gap: 1.375rem;
  margin-bottom: 1.75rem;
}
.card-group .card__profile__avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.card-group .card__profile__info {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}
.card-group .card__profile__info__name {
  font-family: "League Spartan", sans-serif;
  font-size: 0.938rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}
.card-group .card__profile__info__job-title {
  font-family: "League Spartan", sans-serif;
  font-size: 0.938rem;
  font-weight: 500;
  color: hsl(333, 80%, 67%);
}
.card-group .card__text {
  font-family: "League Spartan", sans-serif;
  font-size: 0.938rem;
  line-height: 1.2;
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  margin: 0 0.625rem;
}

@media only screen and (min-width: 48em) {
  body {
    background: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
    height: 100vh;
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
  }
  .container {
    max-width: 69.438rem;
    max-height: 36.688rem;
    margin: 0;
    display: grid;
    row-gap: 4.5rem;
    grid-template-columns: 569px auto;
    grid-template-areas: "header rating rating rating" "card card card card";
  }
  .header {
    grid-area: header;
    text-align: unset;
    margin-bottom: 0;
  }
  .header__title {
    max-width: 20.75rem;
    font-size: 3rem;
  }
  .header__text {
    max-width: 25.688rem;
    margin: 0;
    font-size: 1rem;
  }
  .rating-group {
    grid-area: rating;
    margin-bottom: 0;
  }
  .rating-group .rating {
    max-width: 445px;
    max-height: 56px;
    padding: 1.25rem 2.125rem;
    display: flex;
    text-align: unset;
    align-items: center;
    gap: 2rem;
  }
  .rating-group .rating--second {
    margin-left: 51px;
  }
  .rating-group .rating--third {
    margin-left: 91px;
  }
  .rating-group .rating__star-group {
    margin-bottom: 0;
  }
  .rating-group .rating__text {
    padding-bottom: 0;
  }
  .card-group {
    grid-area: card;
    flex-direction: row;
    gap: 1.75rem;
    height: 268px;
  }
  .card-group .card {
    max-width: 21.875rem;
    max-height: 14.688rem;
    padding-bottom: 2.625rem;
  }
  .card-group .card__profile__info__name {
    font-size: 1rem;
  }
  .card-group .card__profile__info__job-title {
    font-size: 1rem;
  }
  .card-group .card__text {
    line-height: 1.5;
    margin: 0;
    font-size: 1rem;
  }
  .card-group .card--first {
    align-self: flex-start;
  }
  .card-group .card--second {
    align-self: center;
  }
  .card-group .card--third {
    align-self: end;
  }
}
