@font-face {
  font-family: "Inter-Regular";
  src: url("../../assets/fonts/static/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url("../../assets/fonts/static/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-Bold";
  src: url("../../assets/fonts/static/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Inter-Regular";
}

h1 {
  font-family: "Inter-SemiBold";

  font-size: 1.5rem;
}

span {
  font-family: "Inter-SemiBold";
  font-size: 0.875rem;
}

p {
  font-family: "Inter-Regular";
  font-size: 0.875rem;
  line-height: 1.5;
}

button {
  font-family: "Inter-SemiBold";
}
