@use "base/reset";
@use "utils/colors" as c;
@use "utils/typography" as f;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/bg-pattern-top-mobile.svg"), url("../images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: unset, contain;
  background-position: top left, bottom right;
}

.container {
  margin: 4.75rem 1.5rem;
}

.header {
  text-align: center;

  &__title {
    @include f.title;
    color: c.$very-dark-magenta;
    letter-spacing: -1px;
    margin-bottom: 1.5rem;
  }

  &__text {
    margin: 0 calc(0.625rem + 3vw);
    @include f.text;
    font-weight: 500;
    color: c.$dark-grayish-magenta;
    line-height: 1.2;
    text-wrap: wrap;
  }

  margin-bottom: 2.938rem;
}

.rating-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3.125rem;

  .rating {
    text-align: center;
    padding: 0.875rem;
    background-color: c.$light-grayish-magenta;
    border-radius: 0.5rem;

    &__star-group {
      display: flex;
      justify-content: center;
      gap: 0.5rem;
      margin-bottom: 0.875rem;
    }

    &__text {
      @include f.text;
      font-weight: 700;
      color: c.$very-dark-magenta;
      padding-bottom: 0.188rem;
    }

  }
}

.card-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .card {
    padding: 2.188rem 2rem;
    background-color: c.$very-dark-magenta;
    border-radius: 0.5rem;

    &__profile {
      display: flex;
      align-items: center;
      gap: 1.375rem;
      margin-bottom: 1.75rem;

      &__avatar {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
      }

      &__info {
        display: flex;
        flex-direction: column;
        gap: 0.375rem;

        &__name {
          @include f.text;
          font-weight: 700;
          color: c.$white;

        }

        &__job-title {
          @include f.text;
          font-weight: 500;
          color: c.$soft-pink;
        }
      }
    }

    &__text {
      @include f.text;
      line-height: 1.2;
      color: c.$white;
      font-weight: 500;
      margin: 0 0.625rem;
    }
  }
}

@media only screen and (min-width: 48em) {
  body {
    background: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
    height: 100vh;
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
  }

  .container {
    max-width: 69.438rem;
    max-height: 36.688rem;
    margin: 0;
    display: grid;
    row-gap: 4.5rem;
    grid-template-columns: 569px auto;
    grid-template-areas:
      "header rating rating rating"
      "card card card card";
  }

  .header {
    grid-area: header;
    text-align: unset;
    margin-bottom: 0;

    &__title {
      max-width: 20.75rem;
      font-size: 3rem;
    }

    &__text {
      max-width: 25.688rem;
      margin: 0;
      font-size: 1rem;
    }
  }

  .rating-group {
    grid-area: rating;
    margin-bottom: 0;

    .rating {
      max-width: 445px;
      max-height: 56px;
      padding: 1.25rem 2.125rem;
      display: flex;
      text-align: unset;
      align-items: center;
      gap: 2rem;

      &--second {
        margin-left: 51px;
      }

      &--third {
        margin-left: 91px;
      }

      &__star-group {
        margin-bottom: 0;
      }

      &__text {
        padding-bottom: 0;
      }

    }
  }

  .card-group {
    grid-area: card;
    flex-direction: row;
    gap: 1.75rem;
    height: 268px;

    .card {
      max-width: 21.875rem;
      max-height: 14.688rem;
      padding-bottom: 2.625rem;

      &__profile {
        &__info {
          &__name {
            font-size: 1rem;
          }

          &__job-title {
            font-size: 1rem;
          }

        }
      }

      &__text {
        line-height: 1.5;
        margin: 0;
        font-size: 1rem;
      }

      &--first {
        align-self: flex-start;
      }

      &--second {
        align-self: center;
      }

      &--third {
        align-self: end;
      }

    }
  }
}
