*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("../../assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
  font-weight: 500 800;
}
body {
  font-size: 1rem;
}

h1 {
  font-family: "Hanken Grotesk";
  font-weight: 800;
  font-size: 1.5rem;
}

h2 {
  font-family: "Hanken Grotesk";
  font-weight: 700;
  font-size: 1.125rem;
}

h3 {
  font-family: "Hanken Grotesk";
  font-weight: 700;
  font-size: 1.125rem;
}

p {
  font-family: "Hanken Grotesk";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

button {
  font-family: "Hanken Grotesk";
  font-size: 1.125rem;
  font-weight: 600;
}

@media only screen and (min-width: 48rem) {
  body {
    font-size: 1.125rem;
  }
  h1 {
    font-size: 1.875rem;
  }
  h2 {
    font-size: 1.375rem;
  }
  h3 {
    font-size: 1.375rem;
  }
  p {
    font-size: 1.125rem;
  }
}
.card {
  display: flex;
  flex-direction: column;
}
.card__col-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 3.75rem;
  padding-top: 1.625rem;
  padding-bottom: 2.625rem;
  background: linear-gradient(180deg, hsl(252, 100%, 67%) -20%, hsl(241, 81%, 54%) 90%);
  border-radius: 0rem 0rem 2rem 2rem;
}
.card__col-1__title {
  color: hsl(241, 100%, 89%);
  margin-bottom: 1.6875rem;
}
.card__col-1__score {
  width: 138px;
  height: 138px;
  background: linear-gradient(180deg, hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.8125rem;
}
.card__col-1__score__highlight {
  font-family: "Hanken Grotesk";
  color: hsl(0, 0%, 100%);
  font-size: 2.8125rem;
  font-weight: 800;
  line-height: 1.5;
}
.card__col-1__score__text {
  color: hsl(241, 100%, 89%);
}
.card__col-1__h1 {
  color: hsl(0, 0%, 100%);
  margin-bottom: 0.9375rem;
}
.card__col-1__p {
  color: hsl(241, 100%, 89%);
  text-align: center;
  text-wrap: balance;
}
.card__col-2 {
  padding: 1.875rem;
}
.card__col-2__summary {
  margin-bottom: 1.625rem;
  color: hsl(224, 30%, 27%);
}
.card__col-2__status {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-radius: 0.75rem;
}
.card__col-2__status--reaction {
  background-color: hsla(0, 100%, 67%, 0.05);
}
.card__col-2__status--reaction .card__col-2__status__name {
  color: hsl(0, 100%, 67%);
}
.card__col-2__status--memory {
  background-color: hsla(39, 100%, 56%, 0.05);
}
.card__col-2__status--memory .card__col-2__status__name {
  color: hsl(39, 100%, 56%);
}
.card__col-2__status--verbal {
  background-color: hsla(166, 100%, 37%, 0.05);
}
.card__col-2__status--verbal .card__col-2__status__name {
  color: hsl(166, 100%, 37%);
}
.card__col-2__status--visual {
  background-color: hsla(234, 85%, 45%, 0.05);
}
.card__col-2__status--visual .card__col-2__status__name {
  color: hsl(234, 85%, 45%);
}
.card__col-2__status__col-1 {
  display: flex;
  gap: 0.9375rem;
}
.card__col-2__status__col-2 {
  color: hsla(224, 30%, 27%, 0.5);
  font-weight: 700;
}
.card__col-2__status__name {
  font-weight: 600;
}
.card__col-2__status__highlight {
  color: hsl(224, 30%, 27%);
  font-weight: 800;
}
.card__col-2__btn {
  margin-top: 0.625rem;
  width: 100%;
  border: none;
  padding: 1rem;
  border-radius: 2rem;
  background: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
}
.card__col-2__btn:hover {
  background: linear-gradient(180deg, hsl(252, 100%, 67%) -20%, hsl(241, 81%, 54%) 90%);
}

@media only screen and (min-width: 48rem) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 2rem;
  }
  .card {
    flex-direction: row;
    max-width: 46rem;
    max-height: 32rem;
    border-radius: 2rem;
    box-shadow: -8.7px 14px 15px 0px hsla(224, 30%, 27%, 0.5);
  }
  .card__col-1 {
    border-radius: 2rem;
    max-width: 23rem;
  }
  .card__col-1__title {
    margin-bottom: 2.25rem;
  }
  .card__col-1__score {
    width: 12.375rem;
    height: 12.375rem;
    margin-bottom: 2.25rem;
  }
  .card__col-1__score__highlight {
    font-size: 4rem;
    line-height: 1.2;
  }
  .card__col-1__h1 {
    margin-bottom: 1.4375rem;
  }
  .card__col-1__p {
    text-wrap: unset;
  }
  .card__col-2 {
    padding: 2.5rem;
  }
  .card__col-2__summary {
    margin-bottom: 2.0625rem;
  }
  .card__col-2__status {
    width: 18rem;
  }
}/*# sourceMappingURL=main.css.map */