@use "utils/variables" as colors;
@use "base/reset";
@use "base/typography";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: colors.$off-black;
}

.card {
  margin-top: 7.25rem;
  margin-bottom: 7.375rem;
  width: 20.5625rem;
  border-radius: 0.625rem;
  background-color: colors.$dark-grey;
  padding: 1.4688rem;
  text-align: center;
  .info {
    .avatar {
      width: 5.5313rem;
      height: 5.5313rem;
      border-radius: 50%;
      margin-bottom: 1.8438rem;
    }
    .name {
      color: colors.$white;
      margin-bottom: 1rem;
    }
    .location {
      color: colors.$green;
      margin-bottom: 1.8438rem;
      display: block;
    }
    .job {
      color: colors.$white;
      margin-bottom: 1.4688rem;
      display: block;
    }
  }
  .button-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    button {
      color: colors.$white;
      background-color: colors.$grey;
      padding: 1.5rem;
      border: none;
      border-radius: 0.625rem;
      cursor: pointer;
      transition: 0.4s all;
      &:hover {
        background-color: colors.$green;
        color: colors.$off-black;
        transition: 0.4s all;
      }
    }
  }
}

@media only screen and (min-width: 48rem) {
  .card {
    width: 24rem;
    margin: 10.8438rem 0;
  }
}
