$tomato: hsl(4, 100%, 67%);
$tomato-invalid: hsla(4, 100%, 67%, 0.2);
$pink: hsl(347, 99%, 66%);
$orange: hsl(23, 100%, 64%);
$dark-slate-gray: hsl(234, 29%, 20%);
$charcoal-grey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$transparent-grey: hsla(231, 7%, 60%, 0.5);
$white: hsl(0, 0%, 100%);
