*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

img {
  display: block;
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  background-color: hsl(210, 46%, 95%);
}

.article {
  margin: 0 1.5rem;
  max-width: 20.438rem;
  max-height: 32.063rem;
  overflow: hidden;
  border-radius: 0.625rem;
}
.article .container {
  padding-left: 2rem;
  padding-right: 2rem;
}
.article__header {
  display: block;
  width: 100%;
  height: 12.5rem;
  background: url("../images/drawers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -1rem;
}
.article__body {
  background-color: white;
}
.article__title {
  font-family: "Manrope", sans-serif;
  font-size: 1.04em;
  font-weight: 700;
  line-height: 1.4;
  color: hsl(217, 19%, 35%);
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}
.article__text {
  font-family: "Manrope", sans-serif;
  font-size: 0.813rem;
  font-weight: 500;
  line-height: 1.65;
  color: hsl(214, 17%, 51%);
  padding-bottom: 1rem;
}
.article__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  transition: all 0.3s ease-in-out;
}
.article__footer--active {
  background-color: hsl(217, 19%, 35%);
  transition: all 0.3s ease-in-out;
}
.article__footer--active .article__footer__author {
  display: none;
}
.article__footer--active .article__footer__share {
  display: flex;
  height: 2.5rem;
}
.article__footer--active .article__footer__btn {
  background-color: hsl(212, 23%, 69%);
}
.article__footer--active .article__footer__btn img {
  filter: brightness(0) invert(1);
}
.article__footer__author {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.article__footer__author__name {
  font-family: "Manrope", sans-serif;
  font-size: 0.813rem;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
  line-height: 1.5;
}
.article__footer__author__date {
  font-family: "Manrope", sans-serif;
  font-size: 0.85rem;
  font-weight: 500;
  color: hsl(212, 23%, 69%);
}
.article__footer__author__avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.article__footer__share {
  display: none;
  align-items: center;
  gap: 1.375rem;
}
.article__footer__share__title {
  font-family: "Manrope", sans-serif;
  font-size: 0.813rem;
  letter-spacing: 0.313rem;
  font-weight: 500;
  text-transform: uppercase;
  color: hsl(212, 23%, 69%);
}
.article__footer__social {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.article__footer__btn {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(210, 46%, 95%);
}
.article__footer__btn:focus-visible {
  outline: none;
}

.hide {
  display: none;
}
