*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(225, 100%, 94%);
  font-family: "Red Hat Display";
}

.card {
  width: min(100% - 48px, 327px);
  height: min(100% - 142px, 567px);
  border-radius: 16px;
  overflow: hidden;
}
.card__image {
  width: 100%;
  display: block;
}
.card__body {
  padding: 35px 24px;
  background-color: white;
}
.card__body__context {
  margin: 0 16px;
  margin-bottom: 26px;
  text-align: center;
}
.card__body__context__title {
  color: hsl(223, 47%, 23%);
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 26px;
}
.card__body__context__text {
  color: hsl(224, 23%, 55%);
  line-height: 1.5;
  font-size: 15px;
  font-weight: 500;
}
.card__body__details {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  padding: 16px;
  border-radius: 16px;
}
.card__body__details__col-1 {
  display: flex;
  align-items: center;
  gap: 20px;
}
.card__body__details__col-1__plan {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card__body__details__col-1__plan__title {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  font-size: 14px;
}
.card__body__details__col-1__plan__price {
  font-size: 14px;
  color: hsl(224, 23%, 55%);
  font-weight: 500;
}
.card__body__details__col-2 {
  font-size: 14px;
  font-weight: 700;
  color: hsl(245, 75%, 52%);
  cursor: pointer;
  transition: 0.4s all;
}
.card__body__details__col-2:hover {
  opacity: 0.7;
  text-decoration: none;
}
.card__body__btn-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__body__btn-accept {
  font-family: "Red Hat Display";
  font-size: 14px;
  font-weight: 700;
  border: none;
  padding: 15px;
  border-radius: 12px;
  color: hsl(225, 100%, 98%);
  background-color: hsl(245, 75%, 52%);
  width: 100%;
  margin-bottom: 26px;
  cursor: pointer;
  transition: 0.4s all;
}
.card__body__btn-accept:hover {
  opacity: 0.7;
}
.card__body__btn-cancel {
  font-family: "Red Hat Display";
  text-decoration: none;
  color: hsl(224, 23%, 55%);
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s all;
}
.card__body__btn-cancel:hover {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}

@media only screen and (min-width: 768px) {
  .card {
    width: min(100% - 200px, 450px);
    height: min(100% - 20px, 697px);
  }
  .card__body {
    padding: 50px;
  }
  .card__body__context__title {
    font-size: 24px;
    margin-bottom: 26px;
  }
  .card__body__context__text {
    font-size: 16px;
  }
  .card__body__details {
    margin-bottom: 32px;
    padding: 26px 23px;
  }
  .card__body__details__col-1__plan__title {
    font-size: 16px;
  }
  .card__body__details__col-1__plan__price {
    font-size: 16px;
  }
  .card__body__details__col-2 {
    font-size: 16px;
  }
  .card__body__btn-accept {
    font-size: 16px;
    margin-bottom: 34px;
  }
  .card__body__btn-cancel {
    font-size: 16px;
  }
}
