@use "base/reset";
@use "base/typography" as t;
@use "utils/colors" as c;


body {
  height: 100svh;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;

  &__image {
    width: 100%;
    display: block;

    img {
      width: 100%;
    }
  }

  &__icon {
    margin-bottom: 2.5rem;
  }

  &__body {
    padding: 2.5rem 1.5rem;

    &__title {
      max-width: 84%;
      @include t.font-title-bold;
      margin-bottom: 1.5rem;
      color: c.$dark-slate-gray;
    }

    &__text {
      @include t.font-text-regular;
      margin-bottom: 1.5rem;
      color: c.$charcoal-grey;

      &--email {
        @include t.font-text-email;
        text-decoration: none;
        color: c.$charcoal-grey;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &__item {
        @include t.font-text-regular;
        align-items: start;
        color: c.$dark-slate-gray;
        display: flex;
        gap: 1rem;
      }

      margin-bottom: 2.375rem;
    }

    &__email {
      &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.75rem;
      }

      &__label {
        @include t.font-email-text;
        display: block;
      }

      &__error {
        @include t.font-email-text;
        color: c.$tomato;
        display: none;
      }

      &__input {
        @include t.font-text-regular;
        color: c.$dark-slate-gray;
        width: 100%;
        border: 1px solid c.$transparent-grey;
        border-radius: 0.5rem;
        padding: 1.25rem 1.5rem;
        margin-bottom: 1.5rem;
        cursor: pointer;
        transition: all 0.3s ease;

        &::placeholder {
          @include t.font-text-regular;
        }

        &:hover {
          border-color: c.$grey;
          transition: all 0.3s ease;
        }

        &:invalid {
          border: 1px solid c.$tomato;
          background-color: c.$tomato-invalid;
          color: c.$tomato;
        }

      }
    }

    &__btn {
      @include t.font-button-bold;
      width: 100%;
      padding: 1.5rem;
      border: none;
      color: c.$white;
      background: c.$dark-slate-gray;
      border-radius: 0.5em;
      cursor: pointer;
      transition: all 0.4s;

      &:hover {
        background: linear-gradient(to right, c.$pink, c.$orange);
        transition: all 0.4s;
      }
    }
  }

  &--success {

    .card__body__text {
      margin-bottom: 16.875rem;
    }
  }
}

.hide {
  display: none;
}

@media only screen and (min-width: 600px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: c.$charcoal-grey;
  }

  .container {
    display: flex;
    flex-direction: row-reverse;
  }

  .card {
    max-width: 58rem;
    max-height: 40.063rem;
    padding: 1.5rem;
    $border-radius: 1.5rem;
    border-radius: $border-radius;
    background-color: c.$white;

    &__image {
      width: 53.12%;

    }

    &__body {
      margin: auto;
      padding-left: 2.5rem;
      padding-right: 3.75rem;

      &__title {
        font-size: 3.438rem;
        max-width: 100%;
      }

      &__btn {
        padding: 1.25rem;
      }
    }

    &--success {
      max-width: 31.5rem;
      max-height: 32.5rem;

      .card__body {
        padding: 2.5rem;
      }

      .card__body__text {
        margin-bottom: 2.688rem;
      }
    }
  }
}
