*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

@font-face {
  font-family: "Figtree";
  src: url("../../assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}
h1 {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 800;
  font-size: 1.25rem;
}

span {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
}

p {
  font-family: "Figtree";
  font-style: normal;
  line-height: 1.5rem;
  font-size: 0.875rem;
}

button {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 800;
  font-size: 0.875rem;
}

@media only screen and (min-width: 48rem) {
  h1 {
    font-size: 1.5rem;
  }
  span {
    font-size: 0.875rem;
  }
  p {
    font-size: 1rem;
  }
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(47, 88%, 63%);
}

.card {
  margin: 9.6875rem 1.5rem;
  background-color: hsl(0, 0%, 100%);
  padding: 1.5rem;
  border: 0.125rem solid hsl(0, 0%, 7%);
  border-radius: 1.25rem;
  max-width: 20.3125rem;
  box-shadow: 0.625rem 0.625rem 0rem 0rem hsl(0, 0%, 7%);
  -webkit-box-shadow: 0.625rem 0.625rem 0rem 0rem hsl(0, 0%, 7%);
  -moz-box-shadow: 0.625rem 0.625rem 0rem 0rem hsl(0, 0%, 7%);
}
.card__image {
  width: 100%;
  height: 12.5625rem;
  border-radius: 0.625rem;
  background-image: url("../assets/images/illustration-article.svg");
  background-position: -1.5rem center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1.4063rem;
}
.card__button {
  color: hsl(0, 0%, 7%);
  background-color: hsl(47, 88%, 63%);
  border: none;
  padding: 0.4375rem 0.8125rem;
  border-radius: 0.3125rem;
  margin-bottom: 0.8438rem;
}
.card__date {
  display: block;
  margin-bottom: 1.375rem;
  color: hsl(0, 0%, 7%);
}
.card__title {
  margin-bottom: 1.375rem;
  cursor: pointer;
  color: hsl(0, 0%, 7%);
  transition: 0.4s all;
}
.card__title:hover {
  color: hsl(47, 88%, 63%);
  transition: 0.4s all;
}
.card__desc {
  margin-bottom: 1.6563rem;
  color: hsl(0, 0%, 50%);
}
.card__info {
  display: flex;
  gap: 0.7188rem;
  align-items: center;
}
.card__info__avatar {
  width: 2.0625rem;
  height: 2.0625rem;
}
.card__info__name {
  color: hsl(0, 0%, 7%);
  font-weight: 800;
  font-size: 0.875rem;
}

@media only screen and (min-width: 48rem) {
  .card {
    max-width: 23.875rem;
    margin-top: 13.625rem;
    margin-bottom: 13.625rem;
  }
  .card__image {
    height: 12.625rem;
    background-position: -0.5rem center;
  }
}/*# sourceMappingURL=main.css.map */