@use "base/reset";
@use "utils/colors" as c;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: c.$very-dark-blue;
} 

.card {
  width: min(100% - 50px, 325px);
  height: 780px;
  margin: 88px 0;
  border-radius: 8px;
  overflow: hidden;
  background-color: c.$dark-desaturated-blue;
  &__image {
    position: relative;
    img {
      display: block;
      width: 100%;
    }
    &__overlay {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: c.$soft-violet;
      opacity: 0.5;
    }
  }
  &__body {
    padding: 30px;
    &__title {
      color: c.$white;
      font-family: "Inter";
      font-weight: 700;
      font-size: 28px;
      line-height: 1.2;
      text-align: center;
      margin-bottom: 16px;
      &__accent {
        color: c.$soft-violet;
      }
    }
    &__text {
      color: c.$main-paragraph;
      font-family: "Inter";
      font-size: 15px;
      font-weight: 400;
      text-align: center;
      line-height: 1.5;
      margin-bottom: 34px;
    }
    &__list {
      &-group {
        text-align: center;
      }
      &-item {
        font-family: "Lexend Deca", sans-serif;
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 30px;
        &__stat {
          color: c.$white;
          font-size: 26px;
          font-weight: 700;
        }
        &__heading {
          color: c.$stat-headings;
          text-transform: uppercase;
          font-size: 15px;
          letter-spacing: 1px;
          font-weight: 400;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  body {
    height: 100vh;
  }
  .card {
    width: min(100% - 166px, 1109px);
    height: min(100% - 176px, 447px);
    display: flex;
    flex-direction: row-reverse;
    &__image {
      flex: 50%;
      img {
        width: 540px;
        height: 100%;
      }
    }
    &__body {
      padding-left: 70px;
      padding-top: 70px;
      padding-right: 120px;
      &__title {
        text-align: left;
        font-size: 32px;
        margin-bottom: 28px;
      }
      &__text {
        text-align: left;
        margin-bottom: 68px;
        line-height: 1.7;
      }
      &__list {
        &-group {
          display: flex;
          gap: 40px;
          text-align: left;
        }
        &-item {
          &__stat {
            font-size: 24px;
          }
          &__heading {
            font-size: 14px;
          }
        }
      }
    }
  }
}
